.choose {
  margin-bottom: 134px;
  &-main {
    padding-left: calc(233px - 138px);
    padding-right: 56px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 0 79px;
  }
  &-image {
    position: relative;
    width: 385px;
    height: 417px;
    background-color: $bluer-light;
    border-radius: 45px;
    img {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
  &-heading {
    font-weight: 600;
    font-size: 42px;
    line-height: calc(57.29 / 42);
    color: $black;
    margin-bottom: 45px;
    span {
      color: $primary-color;
    }
  }
  &-desc {
    display: inline-block;
    font-weight: 600;
    font-size: 24px;
    line-height: calc(33 / 24);
  }
}
@media screen and (min-width: 1024px) {
  .choose-content {
    width: 462px;
  }
  .choose-desc {
    width: 429px;
  }
}

@media screen and (max-width: 1023px) {
  .choose-main {
    flex-direction: column;
    padding: 0;
    gap: 40px 0;
  }
  .choose-image {
    width: 100%;
    height: 380px;
  }
  .choose-desc {
    width: none;
  }
  .choose-heading {
    margin-bottom: 30px;
  }
}
