.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 196px;
  &-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0 75px;
  }
  &-sign {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-item {
    color: $gray;
    font-weight: 600;
    font-size: 18px;
    line-height: calc(25 / 18);
  }
  &-link {
    color: inherit;
  }
}
@media screen and (max-width: 1439px) {
  .menu {
    gap: 0 100px;
  }
  .menu-list {
    gap: 0 50px;
  }
}
@media screen and (max-width: 1023px) {
  .menu {
    gap: 0 50px;
  }
  .menu-list {
    gap: 0 20px;
  }
}
@media screen and (max-width: 767px) {
  .menu-list {
    display: none;
  }
}
